body {
  background-color: black;
}

p {
  font-size: 75px;
  line-height: 80px;
  color: white;
  font-family: 'Comfortaa', cursive;
}

p.Montserrat {
  font-size: 75px;
  line-height: 80px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

div.center {
  position: fixed;
  top: 25%;
  width: 100%;
  text-align: center;
}

div.bottom {
  position: fixed;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

img.icon_pic {
  width:50px;
  height:50px;
}
